mark.yellow {
    float: right;
}

.active {
    color: white;
    margin: 2px;
}
li:focus{
    outline: none;
}
p {
    padding-left: 10px;
    margin: 0;
    margin: 1px;
}

.active>p {
    padding-left: 0px;
    margin: 1px;
}

.active>p::before {
    content: '[';
}

.active>p::after {
    content: ']';
}

a.selected>p {
    background-color: rgb(219, 56, 6) !important;
}

span {
    color: rgb(65, 211, 255);
}

.topDiv {
    padding-left: 40px;
}

.topDiv span {
    color: white;
}

ul>li>span:last-child {
    float: right;
    padding-right: 15px;
}

.features-wrapper{
    padding: 30px 30px 30px 0px;
    margin: 0px;
}