<div class="features-wrapper">
  <div class="topDiv">
    <span class="topSpan">Warning: Changing the settings to above 5.0 might damage the device.</span>
  </div>

  <ul class="device-links disabled">

    <li>
      <span>
        C++
      </span>
      <span>
        1.5
      </span>
    </li>
    <li>
      <span>
        C#
      </span>
      <span>
        1.5
      </span>
    </li>
    <li>
      <span>
        JAVA
      </span>
      <span>
        1.5
      </span>
    </li>
    <li>
      <span>
        Python
      </span>
      <span>
        1.0
      </span>
    </li>
    <li>
      <span>
        HTML
      </span>
      <span>
        2.0
      </span>
    </li>
    <li>
      <span>
        CSS
      </span>
      <span>
        1.5
      </span>
    </li>
    <li>
      <span>
        JavaScript
      </span>
      <span>
        2.0
      </span>
    </li>
    <li>
      <span>
        Angular 2+
      </span>
      <span>
        1.5
      </span>
    </li>
    <li>
      <span>
        WebGL
      </span>
      <span>
        2.0
      </span>
    </li>
    <li>
      <span>
        PHP
      </span>
      <span>
        1.5
      </span>
    </li>
    <li>
      <span>
        SQL
      </span>
      <span>
        1.0
      </span>
    </li>
    <li>
      <span>
        Git
      </span>
      <span>
        1.0
      </span>
    </li>
  </ul>
</div>