<ul class="menu-wrapper">
    <li>
        <a [routerLink]="['device']" [routerLinkActive]="['active']" href="" (click)="removeClasses($event)" class="leftMenuLinks selected">
            <p> About </p>
        </a>
    </li>
    <li>
        <a [routerLink]="['features']" [routerLinkActive]="['active']" (click)="removeClasses($event)" class="leftMenuLinks" href="">
            <p class="leftMenuLinks"> Skills </p>
        </a>
    </li>
    <li>
        <p>
            <mark class="grey">OnBoard Audio Function</mark>
        </p>
    </li>
    <li>
        <p>
            <mark class="grey">OnBoard SATA3.0</mark>
        </p>
    </li>
    <li>
        <a [routerLink]="['version']" [routerLinkActive]="['active']" (click)="removeClasses($event)" class="leftMenuLinks" href="">
            <p> History </p>
        </a>
    </li>
    <li>
        <p>
            <mark class="grey"> SMART LAN</mark>
        </p>
    </li>
    <li>
        <p>
            <mark class="grey"> USB Controllers</mark>
        </p>
    </li>
    <li>
        <p>
            <mark class="grey"> USB Legacy</mark>
        </p>
    </li>
    <li>
        <a [routerLink]="['report']" [routerLinkActive]="['active']" (click)="removeClasses($event)" class="leftMenuLinks" href="">
            <p> Contact </p>
        </a>
    </li>
</ul>