<ul class="device-links disabled">
  <li>
    <article>
      <p>2018</p>
      <p>
        Currently working as a software developer at Sogeti.
      </p>
    </article>
  </li>
  <li>
    <article>
      <p>2017</p>
      <p>
        Graduated as bachelor in Computer Science at the Mid-Sweden university. My thesis sudy revolved around realtime visualisations
        of how visitors navigate a website. A POC was developed for the web developer company Swedish Connection.
      </p>
      <p>
        Started working at Sogeti.
      </p>
    </article>
  </li>

  <li>
    <article>
      <p>
        2016
      </p>
      <p>
        Developed a visualization of system dependencies for the Swedish Social Insurance Agency in javascript.
      </p>
    </article>
  </li>

</ul>