
<div class="version-wrapper">
<ul class="device-links disabled" >
  
  <li >
    <article>
      <h5 tabindex="0" id="2018">2018</h5>
      <p>
        Currently working as a software developer at Sogeti.
      </p>
    </article>
  </li>
  <li>
    <article>
      <h5 tabindex="1">2017</h5>
      <p>
        Graduated as bachelor in Computer Science at the Mid-Sweden university. My thesis sudy revolved around realtime visualisations
        of how visitors navigate a website. A POC was developed for the web developer company Swedish Connection.
      </p>
      <p>
        Started working at Sogeti.
      </p>
    </article>
  </li>

  <li>
    <article>
      <h5 tabindex="2">
        2016
      </h5>
      <p>
        Developed a visualization of system dependencies for the Swedish Social Insurance Agency in javascript.
      </p>
    </article>
  </li>
  <li>
    <article>
      <h5 tabindex="3">
        1997
      </h5>
      <p>
        Came third in the national table-tennis cup "The best 4th grader".
      </p>
    </article>
  </li>
  <li>
    <article>
      <h5 tabindex="3">
        1987
      </h5>
      <p>
        My mother was blessed with a beautiful baby boy.
      </p>
    </article>
  </li>
</ul>
</div>