<ul>

  <li>   
      <span>Developer name:</span> <span><mark class="teal">Per Nilsson</mark></span>  
  </li>
  <li>  
      <span>Developer deployed: </span> <span><mark class="teal">1987-02-13</mark></span>    
  </li>
  <li>   
      <span>Country:</span> <span><mark class="teal">Sweden</mark></span>   
  </li>
  <li> 
      <span>City: </span> <span><mark class="teal">Sundsvall</mark></span>   
  </li>
  <li>    
      <span>Employer:</span> <span><mark class="teal">Sogeti</mark></span>    
  </li>
  <li>  
      <span>Education:</span> <span><mark class="teal">Computer science</mark></span>    
  </li>
  <li>  
      <span>Shoe size:</span> <span><mark class="teal">41 EU Standard</mark></span>    
  </li>
  <li>  
    <span>Shoe size:</span> <span><mark class="teal">41 EU Standard</mark></span>    
</li>
</ul>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div id="modalTopMenu">
      <p>Command Prompt</p>
      <p>x</p>
    </div>
    <div id="modalMainText">
      <p>Microsoft Windows [Version 10.0.16299.192] (c) 2017 Microsoft Corporation. All rights reserved.</p>
      <span>C:\Users\Admin></span>
      <span id="animatedText"></span>
    </div>
  </div>

</div>

<ul class="device-links disabled">

  <li>
    <a (click)="openModal()" id="myBtn">
      <p>
        Portrait:
        <mark class="yellow">[Inspect]</mark>
      </p>
    </a>
  </li>
  <li>
    <a href="">
      <p>
        Corriculum Vitae:

        <mark class="yellow">[Download]</mark>

      </p>
    </a>
  </li>

</ul>