<p>
  Developer name:
  <mark class="yellow">[Per Nilsson]</mark>
</p>
<p>
  Developer deployed:
  <mark class="yellow">[1987-02-13]</mark>
</p>
<p>
  Country:
  <mark class="yellow">[Sweden]</mark>
</p>
<p>
  City:
  <mark class="yellow">[Sundsvall]</mark>
</p>
<p>
  Company:
  <mark class="yellow">[Sogeti]</mark>
</p>
<p>
  Degree:
  <mark class="yellow">[Computer science bachelor]</mark>
</p>
<p>
  Shoe size:
  <mark class="yellow">[41 EU Standard]</mark>
</p>
<br>
<br>
<div class="device-links disabled">
  <a href="">
    <p>
      Portrait:
      <mark class="yellow">[Inspect]</mark>
    </p>
  </a>
  <a href="">
    <p>
      Corriculum Vitae:

      <mark class="yellow">[Download]</mark>

    </p>
  </a>
</div>