.modal {
    /* The background with the oopacity */
    visibility: hidden;

    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
span{
    color:rgb(65, 211, 255);
}
.modal-content {
    /* the cmd window */
    background-color: #000000;
    border: 3px solid rgb(236, 236, 236);
    border-top: none;
    outline: none;
    width: 55vw;
    max-width: 100vw;
    height: 70vh;
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}
mark.yellow{
    float:right;
}
#myBtn{
    cursor: pointer; 
}
#x-mark{
    cursor: pointer; 
}
.modal-content p {
    font-size: 1.3vw;
}

.modal-content span {
    font-size: 1.3vw;
    color:white;
}
#portrait{
    display:block;
    /* line-height:7px;  */
    font-size: 0.5vw; 
    font-weight:bold;
    /* white-space:pre; */
    font-family: monospace;
    margin-top: 20px;
}
animatedText2{
    visibility: hidden;
}

#modalTopMenu {
    margin: 0px;
    height: 28px;
    outline: none;
    line-height: 2.5vh;
    width: 100%;
    color: rgba(0, 0, 0, 0.904);
    background-color: rgb(245, 245, 245);
}

#modalMainText {
    position: absolute;
    top: 4vh;
    left: 0;
    padding: 10px;
}

#modalTopMenu p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 0 0 8px;
    margin: 0px;
    font-size: 12px;
}
#modalTopMenu p span{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 8px 0px 0px;
    margin: 0px;
    font-size: 16px;
    color:black;
    float:right;
}

/* The Close Button */

.close {
    color: rgb(235, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

ul>li>span:last-child {
    float: right;
    padding-right: 10px;
}

.device-wrapper {
    padding: 30px 30px 30px 0px;
    margin: 0px;
}

ul {
    margin: 0px;
}