/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: myFirstFont;
    src: url("./assets/font/DOS.ttf");
}
body{
    margin: 0;
    font-family: myFirstFont;
    font-size:42px;
    font-size:2.5vw;
    color: white;
    background-color: rgb(30, 50, 228);
}
p{
    margin: 0px;
}
mark.yellow{
    color:yellow;
    background: none;
}
mark.grey{
    color:rgb(168, 168, 168);
    background: none;
    float: right;
}
mark.teal{
    color:rgb(65, 211, 255);
    background: none;
    float: right;
}
a{
    font-family: myFirstFont;
    font-size:42px;
    
    font-size:2.5vw;
    color: white;
    text-decoration: none;
}
.active{
    color: white;
    margin: 0px;
}
a:hover > p{
    /* color:rgb(35, 235, 17); */
    background-color: rgb(219, 56, 6) !important;
   
}
a.selected > p{
    background-color: rgb(219, 56, 6) !important;
}
a:hover::before{
     /* content: '\25B6'; */
}
ul{
    list-style-type:none;
    }